# Bacteria Abundance Analysis

In [4]:
# Load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import sys

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

Matplotlib is building the font cache; this may take a moment.

## Steps
1. Load FMGC.ge data
2. Find the 10 most abundant bacterias of each sample
3. Find the 10 most abundant bacterias of the group

In [5]:
# Load FMGC.ge data
data = pd.read_csv('data_export/FMGC.ge/Beijing.csv')
data.head()

,Genus,BJ001,BJ002,BJ004,BJ005,BJ006,BJ008,BJ013,BJ014,BJ015,...,BJ214,BJ215,BJ216,BJ217,BJ218,BJ219,BJ220,BJ222,BJ223,BJ224
0,2-12-FULL-35-15,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.001802,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
1,Abiotrophia,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
2,Acetatifactor,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
3,Acetobacter,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
4,Acidovorax,0.000771,0.0,0.000267,0.000776,0.000583,0.001942,0.000264,0.000468,0.000566,...,0.000129,0.000209,0.000932,0.000815,0.00076,0.000497,0.001119,0.001657,0.000462,0.00092

In [ ]:
# Find the 10 most abundant bacterias of each sample