# Further analysis of the problem

## Sort the data by FDR.BY

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Import data
data = pd.read_csv('../../result/analysis/filtered_bac_age.csv')
data.describe()

/Users/lucas/Developer/miniconda3/envs/snp_analysis/lib/python3.9/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/lucas/Developer/miniconda3/envs/snp_analysis/lib/python3.9/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,UNADJ,GC,BONF,HOLM,SIDAK_SS,SIDAK_SD,FDR_BH,FDR_BY,Cov
count,4.078000e+03,4.078000e+03,4.078000e+03,4.078000e+03,4.078000e+03,4.078000e+03,4.078000e+03,4.078000e+03,4078.000000
mean,9.735265e-12,1.380984e-11,8.186666e-07,8.162034e-07,inf,inf,3.979856e-09,4.742774e-08,20.161108
std,2.401631e-11,1.262643e-10,2.019600e-06,2.012523e-06,NaN,NaN,8.584269e-09,1.022981e-07,15.787101
min,2.016000e-59,2.016000e-59,1.695000e-54,1.695000e-54,1.110000e-16,1.110000e-16,1.340000e-54,1.596000e-53,1.000000
25%,2.942500e-20,2.942500e-20,2.474500e-15,2.473500e-15,3.520250e-10,3.516750e-10,4.139000e-17,4.932000e-16,6.000000
50%,2.052000e-14,2.052000e-14,1.725500e-09,1.721000e-09,1.279500e-07,1.276500e-07,1.500000e-11,1.788000e-10,17.000000
75%,4.119250e-12,4.141750e-12,3.463750e-07,3.451750e-07,5.892750e-06,5.878000e-06,2.502500e-09,2.982750e-08,32.000000
max,2.122000e-10,5.865000e-09,1.784000e-05,1.774000e-05,inf,inf,4.192000e-08,4.996000e-07,50.000000